// Navbar
.navbar {
	z-index: 3;
	&.navbar-expand-lg {
		@include media-breakpoint-up(lg) {
			padding-left: 2.375rem;
			padding-right: 2.375rem;
		}
	}
}

// Navbar nav
.navbar-nav {
	.nav-link {
		span {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				border-bottom: 2px solid transparent;
				height: 2px;
				width: auto;
				bottom: -0.125rem;
				left: 0;
				right: 0;
			}
		}
		&:hover {
			& + .dropdown-menu {
				display: block;
			}
			span::after {
				border-color: $color-brand;
			}
		}
		&.dropdown-toggle:after {
			border: none;
		}
	}

	.nav-item {
		.dropdown-menu {
			display: none;
			border: none;
			margin: 0;
			// top: 1px;
			padding-top: calc(2 * $dropdown-spacer);
			background: $color-white;
			background: linear-gradient(
				180deg,
				$color-black 0%,
				$color-black calc(1px + $dropdown-spacer),
				$color-white calc(1px + $dropdown-spacer),
				$color-white 100%
			);
			&:hover {
				display: block;
			}
		}
	}
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
	margin-right: 1.75rem;
}
