// @font-face {
//   font-family: "Roboto Regular";
//   src: url("../fonts/Roboto-Regular.ttf") format("truetype");
// }
// @font-face {
//   font-family: "Roboto Bold";
//   src: url("../fonts/Roboto-Bold.ttf") format("truetype");
// }

@import url('//fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h3,
h4 {
	font-weight: 700;
}

h3 {
	line-height: 1.3;
}

h4 {
	line-height: 1.5;
}
