@import '../variables';
//
// Check/radio
//
.form-check-input {
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		background-color: $color-border-gray;
		border-color: $color-border-gray;
		+ .form-check-label {
			color: lighten($color-anthracite, 35%);
		}
	}
}

.form-check-label {
	margin-top: 0.0625rem;
}

//
// Switch
//
.form-switch {
	.form-check-input {
		height: 1.5em;
		margin-top: 0;
		&[disabled],
		&:disabled {
			background-image: escape-svg($form-switch-disabled-bg-image);
			background-color: $color-border-gray;
			&:not(:checked) {
				background-image: escape-svg($form-switch-disabled-checked-bg-image);
				background-color: $color-white;
			}
		}
	}
}
