// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'partials/variables';

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';

// 4. Include any optional Bootstrap css as needed
// @import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/breadcrumb';
@import '../../node_modules/bootstrap/scss/tooltip';
@import '../../node_modules/bootstrap/scss/dropdown';
// only for library - not overriden yet
@import '../../node_modules/bootstrap/scss/_list-group.scss';

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../../node_modules/bootstrap/scss/utilities/api';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// 6. Add additional custom code here
@import 'partials/type';
@import 'partials/buttons';
@import 'partials/alert';
@import 'partials/forms';
@import 'partials/breadcrumb';
@import 'partials/dropdown';

// styles for showcase

.container {
	max-width: 1000px;
	margin-bottom: 500px;
}
.btn {
	margin: 0 1rem 1rem 0;
}

#logo {
	max-width: 300px;
	margin: 30px 0 30px -10px;
}

.btn-icon-custom {
	display: inline-block;
	padding: 1rem;
	border-radius: 5px;
	border-color: transparent;
	color: $color-anthracite;
	font-size: 1.5rem;
	width: 4.5rem;
	margin: 0 1rem 1rem 0;
}

.spacing {
	width: 120px;
	display: inline-block;
	background-color: $color-brand;
	margin-bottom: 1rem;
}
